.footer
{
  background-color: #FAA14F;
  overflow: hidden;
  width: 100%;
  height: 170px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
}
.footer a{
  float: left;
  margin:auto 0PX;
  font-size: 36px;
  color: #000000;
}
ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
li{
  float: left;
  text-align: center;
  margin: auto 0;
}

img{
  width: 70px;
  height: 100%;
}
