<app-navbar></app-navbar>
<div class="container">
    <div class="row">
      <div class="kids-shirts col-4">
          Shirts
      </div>
      <div class="kids-pants col-4">
          pants
      </div>
      <div class="kids-shoes col-4">
          shoes
      </div>
    </div>
    <div class="row">
      <div class="kids-accessories col-4">
          Accessories
      </div>
      <div class="kids-swimwear col-4">
          Swim Wear
      </div>
      <div class="kids-activewear col-4">
          Active Wear
      </div>
    </div>
</div>
<app-footer></app-footer>
