<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="women-shirts col-4">
            Shirts
        </div>
        <div class="women-pants col-4">
            pants
        </div>
        <div class="women-dress col-4">
            dress
        </div>
    </div>
        <div class="row">
            <div class="women-accessories col-4">
                Accessories
            </div>
            <div class="women-swimwear col-4">
                Swim Wear
            </div>
            <div class="women-activewear col-4">
                Active Wear
            </div>
        </div>
  </div>
  <app-footer></app-footer>
