<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="men-shirts col-4">
            Shirts
        </div>
        <div class="men-pants col-4">
            pants
        </div>
        <div class="men-shoes col-4">
            shoes
        </div>
    </div>
        <div class="row">
            <div class="men-accessories col-4">
                Accessories
            </div>
            <div class="men-swimwear col-4">
                Swim Wear
            </div>
            <div class="men-activewear col-4">
                Active Wear
            </div>
        </div>
    </div>
  <app-footer></app-footer>
