<div class="card-wrapper" style="width: 15% ;">

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Product's Name</mat-card-title>
      <mat-card-subtitle>
        Product Description
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      </p>

      <mat-list role="list">
        <mat-list-item role="listitem"> Product's image </mat-list-item>
      </mat-list>

    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="accent">BUY</button>
    </mat-card-actions>
  </mat-card>

</div>
